<div class="main">
    <div>

        <div class="single-post-container">
            <div class="single-post-header">
                <div class="single-post-title">{{vm.post.title}}</div>
                <div class="single-post-info">
                    <div class="single-post-user">By: {{vm.post.user}}</div>
                    <div class="single-post-date">On: {{vm.post.date | moment}}</div>
                </div>
            </div>

            <div class="single-post-button">
                <a ui-sref="posts">
                    <button class="btn-default">Back to Posts</button>
                </a>
            </div>
        </div>
        
        <div class="single-post-message">{{vm.post.body}}</div>
        <hr />

        <div class="single-post-button-mobile">
            <hr />
            <a ui-sref="posts">
                <button class="btn-default">Back to Posts</button>
            </a>
        </div>
    </div>
</div>