/* ------- Mobile ------- */

@media (max-width: 768px) {
  .post-arrow {
    display: none;
  }
}

/* ------- General ------- */

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* ------- App ------- */

.app {
  border: 1px solid black;
  position: relative;
  margin: auto;
  margin-top: 5%;
  width: 90%;
}

.main {
  position: relative;
  margin: auto;
  width: 90%;
  padding: 7%;
}

.title {
  text-align: center;
}

/* ------- All Posts ------- */

.post {
  border: 1px black solid;
  padding: 1%;
  margin: 1%;
  display: flex;
  justify-content: space-between;
}

.post-content {
  flex: 10;
}

.post-content-title {
  padding: 1%;
}

.post-content-container {
  display: flex;
  justify-content: space-between;
}

.post-content-info {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 1%;
}

.post-content-date {
  padding: 1%;
  width: 60%;
  text-align: right;
}

.post-arrow {
  align-self: center;
  text-align: center;
  flex: 1;
}

.post-button {
  float: right;
  margin: 1%;
  padding: 10px;
}