/* ------- Mobile ------- */

@media (max-width: 768px) {
  .main {
    padding-bottom: 15% !important;
  }

  .post-arrow {
    display: none;
  }

  .post-content-date {
    display: none;
  }

  .post-content-info {
    width: 100% !important;
  }

  .form-group {
    text-align: center;
  }

  .buttons {
    justify-content: space-between !important;
  }
}

/* ------- General ------- */

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form-group {
  position: relative;
  margin: auto;
}

form div {
  margin: 1em;
  display: inline-block;
  width: 90%;
}

form input, textarea {
  width: 100%;
  margin: 1em -1em;
  border: 1px solid black;
}

/* ------- App ------- */

.app {
  border: 1px solid black;
  position: relative;
  margin: auto;
  margin-top: 5%;
  width: 90%;
}

.main {
  position: relative;
  margin: auto;
  padding: 7%;
}

.title {
  text-align: center;
}

/* ------- All Posts ------- */

.post {
  border: 1px black solid;
  padding: 1%;
  margin: 1%;
  display: flex;
  justify-content: space-between;
}

.post-content {
  flex: 10;
}

.post-content-title {
  padding: 1%;
}

.post-content-container {
  display: flex;
  justify-content: space-between;
}

.post-content-info {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 1%;
}

.post-content-date {
  padding: 1%;
  width: 60%;
  text-align: right;
}

.post-arrow {
  align-self: center;
  text-align: center;
  flex: 1;
}

.post-button {
  float: right;
  margin: 1%;
  padding: 10px;
  border: 1px solid black;
}

.post-button:hover {
  cursor: pointer;
}

/* ------- Add Post ------- */

.addpost-title {
  text-align: center;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  margin: auto;
}

.addpost-button {
  margin: 1%;
  padding: 10px;
  border: 1px solid black;
}