<div class="main">
    <!-- From React:
    let comments = replies.filter(reply => reply.postId === post.id).length; -->
    <div ng-repeat="post in vm.posts">
        <!-- From React: <Link key={post.id} to={`/posts/${post.id}`}> -->
        <a ng-click="vm.goTo(post.id)">
            <div class="post">
                <div class="post-content">
                    <!-- From React: {post.title.length > 30 ? post.title.slice(0, 30).concat('...') : post.title} -->
                    <div class="post-content-title">
                        {{post.title}}
                    </div>
                    <div class="post-content-container">
                        <div class="post-content-info">
                            <div>
                                Posted By: {{post.user}}
                            </div>
                            <div>
                                <!-- From React: {comments} Comments -->
                            </div>
                        </div>
                        <div class="post-content-date">
                            Last Update: {{post.date | moment}}
                        </div>
                    </div>
                </div>
                <div class="post-arrow">></div>
            </div>
        </a>

        
    </div>
    <!-- From React:
        if no posts render:
        <p>There are currently no posts. Click <Link to="/new">here</Link> to add one!</p>}
    <Link to="/new"><button className="post-button">Create New Post</button></Link> -->
</div>