<div class="main">
    <!-- From React:
    let comments = replies.filter(reply => reply.postId === post.id).length; -->
    <div ng-show="vm.posts.length" ng-repeat="post in vm.posts">
        <!-- From React: <Link key={post.id} to={`/posts/${post.id}`}> -->
        <a ng-click="vm.goTo(post.id)">
            <div class="post">
                <div class="post-content">
                    <div class="post-content-title">
                        {{post.title | length: 30}}
                    </div>
                    <div class="post-content-container">
                        <div class="post-content-info">
                            <div>
                                Posted By: {{post.user}}
                            </div>
                            <div>
                                <!-- From React: {comments} Comments -->
                            </div>
                        </div>
                        <div class="post-content-date">
                            Last Update: {{post.date | moment}}
                        </div>
                    </div>
                </div>
                <div class="post-arrow">></div>
            </div>
        </a>

        
    </div>
    <div ng-hide="vm.posts.length">
        <p>
            There are currently no posts. Click <a ui-sref="addPost">here</a> to add one!
        </p>
    </div>
    <a ui-sref="addPost"><button class="post-button">Create New Post</button></a>
</div>